@import url(https://fonts.googleapis.com/css?family=Lato:400, 300, 100, 700, 900);

body {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(60,45,253,1) 20%); ; 
}

h1,p{
   margin: 0;
    padding: 0;
    font-family: "Lato";
    }

.header {
    font-size: 1.8em;
    padding: 1px 0;
    font-weight: 800;
    position: absolute;
    right: -200px;
    top: 10px;
    height: 15px;
    width: 50%;
    color:rgb(100, 212, 160);
    border: 2px;
    opacity: 1.0;
}

/*paragraph 1 font and font size*/
p {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 2px;
    color: rgb(8, 226, 241);
    text-align: left;
}

p2{
  font-size: .4em;
    padding: 1px 0;
    font-weight: 800;
    position: absolute;
    right: -260px;
    top: 45px;
    height: 15px;
    width: 50%;
    color:rgb(8, 226, 241);
    border: 2px;
    opacity: 1.0;
}
/*banner background image. */
 .banner {
  border: 2px solid black;
  padding: 50px;
  background: url(https://thumbs.gfycat.com/ThirdFearfulDamselfly-size_restricted.gif);   
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
/*
div.bottom:before {
        content: "";
        position: absolute;
        left: 25px;
        bottom: 0;
        height: 15px;
        width: 70%;
        border-bottom: 3px solid #260;
      }
*/


